In [3]:
import pandas as pd

In [2]:
dict = {
    'country':['Brazil', 'Rusia', 'India', 'China', 'South Africa'],
    'capital' : ['Brazillia', 'Moscow', 'New Dehli', 'Bejing', 'Pretoria'],
    'area' : [8.516, 17.10, 3.286, 9.597, 1.221],
    'populasi' : [200.4, 143.5, 1252, 1357, 52.98]
}
dict

{'country': ['Brazil', 'Rusia', 'India', 'China', 'South Africa'],
 'capital': ['Brazillia', 'Moscow', 'New Dehli', 'Bejing', 'Pretoria'],
 'area': [8.516, 17.1, 3.286, 9.597, 1.221],
 'populasi': [200.4, 143.5, 1252, 1357, 52.98]}

In [3]:
data = pd.DataFrame(dict)
data

        country    capital    area  populasi
0        Brazil  Brazillia   8.516    200.40
1         Rusia     Moscow  17.100    143.50
2         India  New Dehli   3.286   1252.00
3         China     Bejing   9.597   1357.00
4  South Africa   Pretoria   1.221     52.98

In [4]:
data.index = ['BR', 'RU', 'IN', 'CH', 'SA']
data

         country    capital    area  populasi
BR        Brazil  Brazillia   8.516    200.40
RU         Rusia     Moscow  17.100    143.50
IN         India  New Dehli   3.286   1252.00
CH         China     Bejing   9.597   1357.00
SA  South Africa   Pretoria   1.221     52.98

In [7]:
data.to_csv('data_county.csv', index=True)

In [4]:
data2 = pd.read_csv('data_county.csv', index_col= 0)
data2

         country    capital    area  populasi
BR        Brazil  Brazillia   8.516    200.40
RU         Rusia     Moscow  17.100    143.50
IN         India  New Dehli   3.286   1252.00
CH         China     Bejing   9.597   1357.00
SA  South Africa   Pretoria   1.221     52.98

In [10]:
data2.index

Index(['BR', 'RU', 'IN', 'CH', 'SA'], dtype='object')

In [13]:
data2.values

array([['Brazil', 'Brazillia', 8.516, 200.4],
       ['Rusia', 'Moscow', 17.1, 143.5],
       ['India', 'New Dehli', 3.286, 1252.0],
       ['China', 'Bejing', 9.597, 1357.0],
       ['South Africa', 'Pretoria', 1.221, 52.98]], dtype=object)

In [5]:
data2.value_counts

<bound method DataFrame.value_counts of          country    capital    area  populasi
BR        Brazil  Brazillia   8.516    200.40
RU         Rusia     Moscow  17.100    143.50
IN         India  New Dehli   3.286   1252.00
CH         China     Bejing   9.597   1357.00
SA  South Africa   Pretoria   1.221     52.98>

In [18]:
data2.value_counts()

country       capital    area    populasi
Brazil        Brazillia  8.516   200.40      1
China         Bejing     9.597   1357.00     1
India         New Dehli  3.286   1252.00     1
Rusia         Moscow     17.100  143.50      1
South Africa  Pretoria   1.221   52.98       1
dtype: int64

In [6]:
data2

         country    capital    area  populasi
BR        Brazil  Brazillia   8.516    200.40
RU         Rusia     Moscow  17.100    143.50
IN         India  New Dehli   3.286   1252.00
CH         China     Bejing   9.597   1357.00
SA  South Africa   Pretoria   1.221     52.98

In [11]:
data2[['country']].value_counts()

country
Brazil          1
China           1
India           1
Rusia           1
South Africa    1
dtype: int64