In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("data_county.csv", index_col=0)
data

         country    capital    area  populasi
BR        Brazil  Brazillia   8.516    200.40
RU         Rusia     Moscow  17.100    143.50
IN         India  New Dehli   3.286   1252.00
CH         China     Bejing   9.597   1357.00
SA  South Africa   Pretoria   1.221     52.98

In [25]:
# bentuk konditional filter harus seperti ini
data['area']>8

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [21]:
data[data['area']>8]

   country    capital    area  populasi
BR  Brazil  Brazillia   8.516     200.4
RU   Rusia     Moscow  17.100     143.5
CH   China     Bejing   9.597    1357.0

In [19]:
data[data.loc[:,'area']>8]

   country    capital    area  populasi
BR  Brazil  Brazillia   8.516     200.4
RU   Rusia     Moscow  17.100     143.5
CH   China     Bejing   9.597    1357.0

In [24]:
data[data.iloc[:,2]>8]

   country    capital    area  populasi
BR  Brazil  Brazillia   8.516     200.4
RU   Rusia     Moscow  17.100     143.5
CH   China     Bejing   9.597    1357.0

In [26]:
import numpy as np

In [28]:
data[np.logical_and(data['area']>8, data['area']<10)]

   country    capital   area  populasi
BR  Brazil  Brazillia  8.516     200.4
CH   China     Bejing  9.597    1357.0

In [30]:
data[np.logical_and(data.loc[:,'area']>8, data.loc[:, 'area']<10)]

   country    capital   area  populasi
BR  Brazil  Brazillia  8.516     200.4
CH   China     Bejing  9.597    1357.0

In [32]:
data[np.logical_and(data.iloc[:,2]>8, data.iloc[:,2]<10)]

   country    capital   area  populasi
BR  Brazil  Brazillia  8.516     200.4
CH   China     Bejing  9.597    1357.0